$arkw-color: #3f51b5;
$white: #fff;
$red: #ef5350;
$gray: #757575;
$black: #000;

a {
	color: $arkw-color;
	&:hover {
		opacity: 0.7;
	}
}

.wrapper {
	width: 1200px;
	margin: auto;
	overflow: hidden;
}

.topics {
	margin-bottom: 5px;
	overflow: hidden;
}

.main {
	width: 1200px;
	margin: auto;
	padding: 20px 5px;
	overflow: hidden;
	box-sizing: border-box;
	h1 {
		padding-top: 20px;
		padding-bottom: 5px;
		font-size: 26px;
		font-weight: normal;
		&.heading {
			padding-top: 20px;
			color: $arkw-color;
			overflow: hidden;
		}
	}
	p {
		padding: 5px 0;
	}
}

.main_social {
	padding-bottom: 2px;
	padding-right: 5px;
	vertical-align: middle;
}

.topics_icon {
	width: 100px;
	float: left;
	img {
		width: 80px;
		height: 80px;
		box-shadow: 0 1px 3px $gray;
	}
}

.topics_main {
	width: calc(100% - 100px);
	float: right;
	h1 {
		margin-top: -23px;
		margin-bottom: 3px;
		color: $black;
		font-size: 20px;
		line-height: 26px;
		border-bottom: 0;
	}
	p {
		margin-top: -8px;
		line-height: 20px;
		color: $black;
		border-bottom: 0;
		word-wrap: break-word;
	}
}